h1 {
	color: 	#FFA07A;
	font-size: 80px;
	font-family: ariel;
}
p {
	color: #20B2AA;
	font-size: 40px;
	font-weight: bold;
	font-family: ariel;
}
a {
	color: #FFA07A;
	font-family: ariel;
	font-weight: bold;
}
body {
	background-color: #FAFAD2;
}
.first-h1 {
	color: #FF6347;
}
h1 {
	text-align: center;
}
p {
	text-align: center;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}